
            /* Sobre Nosotros */
            .about {
        padding: 5rem 5%;
        background: #ACD8F5;
        
    }
    
    .dark-mode .about {
        background: var(--dark-bg);
    }
    
    .about-content {
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        align-items: center;
    }
    
    .about-text {
        color:#000000;
        padding-right: 2rem;
    }
    
    .about-image {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 05px 15px rgba(255, 255, 255, 0.2);
    }
    
    .about-image img {
        width: 100%;
        height: auto;
        display: block;
    }
