
    /* Nuestra Misión */
    .mission {
        padding: 5rem 5%;
        background: #ACD8F5;
    }
    
    .dark-mode .mission {
        background: var(--dark-bg);
    }
    
    .mission-content {
        color: rgb(0, 0, 0);
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        align-items: center;
    }
    
    .mission-image {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    
    .mission-image img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .mission-text {
        padding-left: 2rem;
    }
